---
---

// =============================
// main.scss
// =============================
// Used to include all the partials.

// Do not change the order of the imports behind this comment.

// GLOBAL VARIABLES
@import "../_sass/_variables.scss";

// LIQUID CALCULATIONS
{% assign nav_count = site.data.nav | size %}
$s-menuWidth: calc({{ nav_count }} * (#{$s-menuItemWidth} + #{$s-menuItemPadding} * 2));

// OTHER IMPORTS
@import "../_sass/_mixins.scss";
@import "../_sass/_global.scss";

// Do not change the order of the imports above this comment.

@import "../_sass/_header.scss";
@import "../_sass/_footer.scss";
@import "../_sass/_feed.scss";
@import "../_sass/_index.scss";
@import "../_sass/_post.scss";
@import "../_sass/_page.scss";

